Repository channainfo/commissioner, pull requests merged in 2023-08, with the labels that each got.

#502 close #501 added cashier to adjustment
  app/controllers/spree/billing/adjustments_controller.rb
  app/controllers/spree/billing/products_controller.rb
  app/jobs/spree_cm_commissioner/subscription_order_executor_job.rb
  app/models/spree_cm_commissioner/adjustment_decorator.rb
  app/models/spree_cm_commissioner/customer.rb
  app/models/spree_cm_commissioner/variant_decorator.rb
  app/views/spree/billing/adjustments/_adjustment.html.erb
  app/views/spree/billing/adjustments/_adjustments_table.html.erb
  app/views/spree/billing/customers/index.html.erb
  app/views/spree/billing/products/new.html.erb
  app/views/spree/billing/report/active_subscribers.html.erb
  app/views/spree/billing/report/balance_due.html.erb
  app/views/spree/billing/report/overdue.html.erb
  app/views/spree/billing/report/paid.html.erb
  app/views/spree/billing/shared/_main_menu.html.erb
  app/views/spree/billing/shared/_order_tabs.html.erb
  app/views/spree/billing/subscriptions/_form.html.erb
  config/locales/en.yml
  config/locales/km.yml
  db/migrate/20230801050445_add_payable_to_spree_adjustment.rb
  spec/jobs/spree_cm_commissioner/renew_subscription_job_spec.rb
Labels: backend, billing

#498 Close #495 user profile updater
  app/controllers/spree/api/v2/resource_controller_decorator.rb
  app/controllers/spree/api/v2/storefront/profile_images_controller.rb
  app/controllers/spree/api/v2/storefront/s3_signed_urls_controller.rb
  app/interactors/spree_cm_commissioner/profile_image_updater.rb
  app/request_schemas/spree_cm_commissioner/profile_image_request_schema.rb
  app/serializers/spree/v2/storefront/s3_signed_url_serializer.rb
  app/serializers/spree_cm_commissioner/v2/storefront/profile_image_serializer.rb
  config/routes.rb
  lib/s3_signed_url.rb
  lib/spree_cm_commissioner.rb
  spec/interactors/spree_cm_commissioner/profile_image_updater_spec.rb
  spec/support/assets/user/profile_image.png
  spree_cm_commissioner.gemspec
Labels: backend

#500 Close #499-user-profile-api
  app/controllers/spree/api/v2/storefront/user_profiles_controller.rb
  app/interactors/spree_cm_commissioner/account_updater.rb
  app/request_schemas/spree_cm_commissioner/user_profile_request_schema.rb
  config/routes.rb
  spec/request/spree/api/v2/controller/user_profiles_controller_spec.rb
Labels: api

#504 close #503 added failed order to report section
  Gemfile.lock
  app/controllers/spree/billing/report_controller.rb
  app/models/spree_cm_commissioner/customer.rb
  app/views/spree/billing/products/new.html.erb
  app/views/spree/billing/report/failed_orders.html.erb
  app/views/spree/billing/shared/_invoice.html.erb
  app/views/spree/billing/shared/_main_menu.html.erb
  app/views/spree/billing/shared/sub_menu/_report.html.erb
  config/locales/en.yml
  config/locales/km.yml
  config/routes.rb
Labels: backend, billing

#508 Close #507 get image-url with Faraday
  app/controllers/spree/api/v2/storefront/s3_signed_urls_controller.rb
  app/interactors/spree_cm_commissioner/profile_image_updater.rb
  app/models/spree_cm_commissioner/s3_signed_url.rb
  lib/s3_signed_url.rb
  spec/interactors/spree_cm_commissioner/profile_image_updater_spec.rb
Labels: enhancement

#506 close #505 use billing shipping address as mailer name
  app/helpers/spree/mail_helper_decorator.rb
Labels: enhancement

#511 close #510 reformat invoice id
  app/interactors/spree_cm_commissioner/invoice_creator.rb
  app/views/spree/billing/orders/_line_item.html.erb
  app/views/spree/billing/shared/_main_menu.html.erb
  config/locales/en.yml
  config/locales/km.yml
  db/migrate/20230601030525_add_device_tokens_count_to_spree_users.rb
  db/migrate/20230615082127_add_read_at_to_spree_cm_notifications.rb
  db/migrate/20230622043118_remove_type_from_spree_cm_commissioner_notifications.rb
  db/migrate/20230801050445_add_payable_to_spree_adjustment.rb
  spec/interactors/spree_cm_commissioner/invoice_creator_spec.rb
Labels: backend, billing

#515 1.0.0-pre9
  app/helpers/spree/mail_helper_decorator.rb
  app/interactors/spree_cm_commissioner/invoice_creator.rb
  app/views/spree/billing/orders/_line_item.html.erb
  app/views/spree/billing/shared/_main_menu.html.erb
  config/locales/en.yml
  config/locales/km.yml
  db/migrate/20230601030525_add_device_tokens_count_to_spree_users.rb
  db/migrate/20230615082127_add_read_at_to_spree_cm_notifications.rb
  db/migrate/20230622043118_remove_type_from_spree_cm_commissioner_notifications.rb
  db/migrate/20230801050445_add_payable_to_spree_adjustment.rb
  spec/interactors/spree_cm_commissioner/invoice_creator_spec.rb
Labels: backend, release, billing

#513 Close #512 add an active field true or false in the homepage
  app/views/spree/admin/homepage_background/_form.html.erb
Labels: enhancement

#517 Close #516 error performing noticed
  app/notifications/noticed_fcm_base.rb
  config/locales/en.yml
  config/locales/km.yml
Labels: bug

#519 Close #518 account deletion api
  README.md
  app/controllers/spree/admin/account_deletions_controller.rb
  app/controllers/spree/api/v2/storefront/account_deletions_controller.rb
  app/interactors/spree_cm_commissioner/account_deletion.rb
  app/interactors/spree_cm_commissioner/account_deletion_cron_executor.rb
  app/jobs/spree_cm_commissioner/account_deletion_cron_job.rb
  app/models/spree_cm_commissioner/user_decorator.rb
  app/models/spree_cm_commissioner/user_deletion_survey.rb
  config/locales/en.yml
  config/locales/km.yml
  config/routes.rb
  db/migrate/20230721070337_create_spree_cm_commissioner_user_deletion_surveys.rb
  db/migrate/20230721074046_add_account_deletion_at_to_spree_users.rb
  spec/interactors/spree_cm_commissioner/account_deletion_cron_executor_spec.rb
  spec/interactors/spree_cm_commissioner/account_deletion_spec.rb
  spec/jobs/spree_cm_commissioner/account_deletion_cron_job_spec.rb
  spec/request/spree/api/v2/controller/account_deletions_controller_spec.rb
  spec/request/spree/api/v2/controller/user_registration_with_pin_codes_controller_spec.rb
Labels: api, backend

#525 close #524 integrate order approve & cancel via telegram web bot
  README.md
  app/assets/config/spree_cm_commissioner_manifest.js
  app/assets/javascripts/spree_cm_commissioner/telegram.js
  app/assets/javascripts/spree_cm_commissioner/telegram/order_confirmation.js
  app/assets/stylesheets/spree_cm_commissioner/telegram.css
  app/assets/stylesheets/spree_cm_commissioner/telegram/telegram_bot.css.scss
  app/controllers/spree/telegram/base_controller.rb
  app/controllers/spree/telegram/errors_controller.rb
  app/controllers/spree/telegram/orders_controller.rb
  app/helpers/spree_cm_commissioner/telegram/base_helper.rb
  app/interactors/spree_cm_commissioner/telegram_web_app_init_data_validator.rb
  app/interactors/spree_cm_commissioner/telegram_web_app_vendor_user_authorizer.rb
  app/interactors/spree_cm_commissioner/telegram_web_app_vendor_user_checker.rb
  app/models/spree_cm_commissioner/order_decorator.rb
  app/models/spree_cm_commissioner/user_identity_provider.rb
  app/views/spree/telegram/errors/_error.html.erb
  app/views/spree/telegram/errors/forbidden.html.erb
  app/views/spree/telegram/errors/resource_not_found.html.erb
  app/views/spree/telegram/orders/_line_items.html.erb
  app/views/spree/telegram/orders/_order_confirmation_script.html.erb
  app/views/spree/telegram/orders/_order_summary.html.erb
  app/views/spree/telegram/orders/show.html.erb
  app/views/spree_cm_commissioner/layouts/telegram.html.erb
  config/routes.rb
  lib/generators/spree_cm_commissioner/install/install_generator.rb
  lib/generators/spree_cm_commissioner/install/templates/vendor/assets/javascript/spree_cm_commissioner/telegram/all.js
  lib/generators/spree_cm_commissioner/install/templates/vendor/assets/stylesheets/spree_cm_commissioner/telegram/all.css
  lib/spree_cm_commissioner/test_helper/factories/user_identity_provider_factory.rb
  spec/interactors/spree_cm_commissioner/telegram_web_app_init_data_validator_spec.rb
  spec/interactors/spree_cm_commissioner/telegram_web_app_vendor_user_authorizer_spec.rb
  spec/interactors/spree_cm_commissioner/telegram_web_app_vendor_user_checker_spec.rb
Labels: feature, experiment
