Repository channainfo/commissioner, pull requests merged in 2024-10, with the labels that each got.

#1995 Close #1993 create an api to list event photos
  app/controllers/spree/api/v2/storefront/vendor_photos_controller.rb
  config/routes.rb
Labels: api, backend

#1964 Close #1963 Change the status from show_event_status to show_badge_status
  app/overrides/spree/admin/taxons/_form/event_status.html.erb.deface
  app/overrides/spree/admin/taxons/_form/show_badge_status.html.erb.deface
  app/serializers/spree/v2/storefront/taxon_serializer_decorator.rb
  config/initializers/spree_permitted_attributes.rb
  db/migrate/20240926035819_rename_show_event_status_to_show_badge_status_to_spree_taxon.rb
  spec/serializers/spree/v2/storefront/taxon_serializer_spec.rb
Labels: enhancement

#2003 close #2002 fix resource not found when create new guest
  app/controllers/spree/api/v2/storefront/guests_controller.rb
Labels: enhancement

#1998 close #1997 recheck line item stock
  app/serializers/spree/v2/storefront/line_item_serializer_decorator.rb
  spec/serializers/spree/v2/storefront/line_item_serializer_spec.rb
Labels: enhancement, api

#1962 close #1961 fix order.customer returning nil
  app/models/spree_cm_commissioner/order_decorator.rb
Labels: bug, backend, billing

#1990 close #1989 allow customer to have store credits
  app/controllers/spree/billing/roles_controller.rb
  app/controllers/spree/billing/store_credits_controller.rb
  app/interactors/spree_cm_commissioner/invoice_creator.rb
  app/interactors/spree_cm_commissioner/subscriptions_order_creator.rb
  app/interactors/spree_cm_commissioner/subscriptions_prepaid_order_creator.rb
  app/models/spree_cm_commissioner/order_decorator.rb
  app/models/spree_cm_commissioner/subscription.rb
  app/models/spree_cm_commissioner/vendor_decorator.rb
  app/views/spree/billing/shared/_customer_credit_form.html.erb
  app/views/spree/billing/shared/_customer_tabs.html.erb
  app/views/spree/billing/store_credits/_form.html.erb
  app/views/spree/billing/store_credits/index.html.erb
  app/views/spree/billing/store_credits/new.html.erb
  app/views/spree/billing/vendors/_form.html.erb
  config/locales/en.yml
  config/locales/km.yml
  config/routes.rb
  db/migrate/20240926082912_change_amount_precision_in_store_credits.rb
  db/migrate/20240926090253_change_amount_precision_in_store_credit_events.rb
  spec/interactors/spree_cm_commissioner/subscriptions_order_creator_spec.rb
  spec/interactors/spree_cm_commissioner/subscriptions_prepaid_order_creator_spec.rb
Labels: feature, backend, billing

#1982 Close #1973 Billing invoice include outstanding balance penalty
  app/views/spree/billing/shared/_invoice.html.erb
Labels: backend, billing

#2000 Close #1972 allow admin to enable or disable self check in
  app/models/concerns/spree_cm_commissioner/product_delegation.rb
  app/models/spree_cm_commissioner/line_item_decorator.rb
  app/overrides/spree/admin/products/_form/allow_self_check_in.html.erb.deface
Labels: L, check-in

#2011 close #2010 add support create 1-ticket order from chatrace
  app/controllers/spree/api/chatrace/guests_controller.rb
  app/controllers/spree/api/chatrace/orders_controller.rb
  app/interactors/spree_cm_commissioner/chatrace_order_creator.rb
  app/interactors/spree_cm_commissioner/order_importer/single_guest.rb
  app/jobs/spree_cm_commissioner/chatrace_order_creator_job.rb
  app/models/spree_cm_commissioner/guest.rb
  config/routes.rb
  lib/spree_cm_commissioner/test_helper/factories/product_factory.rb
  spec/cassettes/SpreeCmCommissioner_ChatraceOrderCreator/_call/when_params_order_params_are_valid/create_order_notify_user.yml
  spec/interactors/spree_cm_commissioner/chatrace_order_creator_spec.rb
  spec/interactors/spree_cm_commissioner/order_importer/single_guest_spec.rb
  spec/jobs/spree_cm_commissioner/chatrace_order_creator_job_spec.rb
Labels: enhancement, feature

#2013 close #2012 add option to not display bib prefix
  app/models/concerns/spree_cm_commissioner/option_type_attr_type.rb
  app/models/concerns/spree_cm_commissioner/variant_options_concern.rb
  app/models/spree_cm_commissioner/guest.rb
  app/models/spree_cm_commissioner/variant_options.rb
  lib/spree_cm_commissioner/test_helper/factories/option_type_factory.rb
  spec/models/spree_cm_commissioner/guest_spec.rb
Labels: enhancement

#2006 close #2005 Align Guest Card Booking Pass UI in Webview with App for Consistency
  app/views/spree_cm_commissioner/guest_cards/show.html.erb
Labels: enhancement, S

#2008 close #2007 allow add guest data when check in
  app/controllers/spree/api/v2/operator/check_in_bulks_controller.rb
  app/interactors/spree_cm_commissioner/check_in_bulk_creator.rb
  app/models/spree_cm_commissioner/check_in.rb
  app/models/spree_cm_commissioner/guest.rb
  app/serializers/spree_cm_commissioner/v2/operator/guest_serializer.rb
  app/serializers/spree_cm_commissioner/v2/operator/line_item_serializer.rb
  app/serializers/spree_cm_commissioner/v2/storefront/guest_serializer.rb
  spec/interactors/spree_cm_commissioner/check_in_bulk_creator_spec.rb
  spec/serializers/spree/v2/storefront/guest_serializer_spec.rb
  spec/serializers/spree_cm_commissioner/v2/operator/line_item_serializer_spec.rb
Labels: api

#2019 close #2018 Add attributes to guest_serializer operator
  app/serializers/spree_cm_commissioner/v2/operator/guest_serializer.rb
  app/serializers/spree_cm_commissioner/v2/operator/line_item_serializer.rb
  spec/serializers/spree_cm_commissioner/v2/operator/line_item_serializer_spec.rb
Labels: api, XS

#1981 close #1968 CRUD template_guests with soft_delete
  app/controllers/spree/api/v2/storefront/id_cards_controller.rb
  app/controllers/spree/api/v2/storefront/template_guests_controller.rb
  app/interactors/spree_cm_commissioner/guest_id_card_manager.rb
  app/interactors/spree_cm_commissioner/id_card_manager.rb
  app/interactors/spree_cm_commissioner/template_guest_id_card_manager.rb
  app/models/spree_cm_commissioner/guest.rb
  app/models/spree_cm_commissioner/id_card.rb
  app/models/spree_cm_commissioner/template_guest.rb
  app/models/spree_cm_commissioner/user_decorator.rb
  app/serializers/spree_cm_commissioner/v2/storefront/template_guest_serializer.rb
  config/routes.rb
  db/migrate/20240926100138_create_spree_cm_commissioner_template_guests.rb
  db/migrate/20240926120947_add_template_guest_id_to_spree_cm_commissioner_guest.rb
  db/migrate/20240927082749_migrate_guest_id_to_polymorphic_in_cm_id_cards.rb
  lib/spree_cm_commissioner/test_helper/factories/id_card_factory.rb
  lib/tasks/migrate_id_cards.rake
  spec/interactors/spree_cm_commissioner/id_card_manager_spec.rb
Labels: api, M

#1978 Close #1974 Billing payment capture update
  app/controllers/spree/billing/payments_controller.rb
  app/errors/spree_cm_commissioner/payment_creation_error.rb
  app/models/spree_cm_commissioner/order_decorator.rb
  app/views/spree/billing/reports/balance_due.html.erb
  app/views/spree/billing/shared/_pop_up_confirmation.html.erb
  config/locales/en.yml
Labels: backend, billing

#2022 Close #2016 billing invoice update to include store credit
  app/views/spree/billing/shared/_invoice.html.erb
Labels: backend, billing

#2028 close #1994 enhance claim order flow
  app/controllers/spree/api/v2/storefront/guest_orders_controller.rb
  app/controllers/spree/api/v2/storefront/line_items_controller.rb
Labels: enhancement, api
